<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Long URL</th>
            <th>Short URL</th>
        </tr>
    </thead>
    <tbody>
        {% for url in data %}
        <tr>
            <td>{{ url.id }}</td>
            <td>{{ url.long_url }}</td>
            <td>127.0.0.1:5000/{{url.short_url}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
